body {
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6.25rem 0;
}

.main-container {
    background-color: #0B2F90;
    width: 80%;
    border-radius: 0.625rem;
    padding: 1.25rem;
    position: relative;
}

.top-message {
    background-color: #FFCB07;
    border-radius: 0.625rem 0.625rem 0 0;
    width: 25rem;
    padding: 0.625rem;
    position: absolute;
    bottom: 100%;
}

.top-message p {
    color: #665335;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.inner-container {
    border-radius: 0.625rem;
    background-color: #6053C9;
    margin: -1.25rem -1.25rem 1.25rem -1.25rem;
    padding: 1.875rem;
}

ul.duration-select,
ul.boards-select,
ul.boards-select-month {
    display: flex;
    list-style: none;
    color: #fff;
    padding: 0;
    margin: 0;
}

.boards-select {
    width: 100%;
    justify-content: space-around;
}

.duration-tabs,
.boards-tabs,
.boards-tabs-month {
    margin: 1.25rem;
    color: #AFA6F7;
    padding: 0.625rem 1.25rem;
    text-decoration: none;

}


.boards-tabs-month {
    margin: 0.625rem;
    padding: 0.625rem 1.25rem;
}

.gradeAndBoards {
    display: grid;
    align-items: center;
    margin-bottom: 1.25rem;
    grid-template-columns: 1fr 3fr;
    column-gap: 1rem;
}

.duration-tabs.active,
.boards-tabs.active,
.boards-tabs-month.active {
    text-decoration: none;
    color: #fff;
    background-color: #06318F;
    border-radius: 40px;
    font-weight: 600;
}

select.class-select {
    min-height: 50px;
    background-color: #6053C9;
    border-width: 0 0 1px 0;
    color: white;
    border-color: white;
    margin-left: 1.25rem;
    outline: none;
}

.grade-select {
    width: 12%;
}

/* .grade-select .class-select {} */

/* Main Content Section */

.packages-radio {
    display: flex;
    flex-direction: column;
}

.packages-radio h2,
.packages-radio p {
    margin: 0;
}


.packages-radio label {
    display: grid;
    align-items: center;
    background-color: #7B6FD1;
    border: 1px solid #7B6FD1;
    border-radius: 10px;
    grid-template-columns: 1fr repeat(3, 4fr);
    margin-bottom: 1.25rem;
    padding: 10px;
    color: #FFFFFF;
    font-size: 0.875rem;
}

.packages-radio label input {
    width: 1.25rem;
    height: 1.25rem;
}


.main-content--year {
    display: flex;
    list-style: none;
    padding: 0;
}

.main-content-data {
    padding: 0 1.25rem;
}


.main-content-data h3:first-child {
    color: #ffffff;
    margin-bottom: 0px;
}

.main-content-data h3:nth-child(2) {
    color: #F4C90D;
    margin-top: 10px;
    font-weight: 600;
}


.course-syllabus h4 {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.course-syllabus li {
    color: #FFFFFF;
}


.syllabus-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}

.syllabus-list ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 500;
}

.syllabus-list ul li.topic-heading {
    color: #F4C90D;
    font-weight: 600;
}

.original-cost {
    font-size: 14px;
    text-decoration: line-through 2px solid;
}

.packages-cost h2 {
    color: #F4C90D;
}




/* Bottom Section */

.bottom-controls {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 1.25rem;
}

.bottom-controls .duration-content-panel {
    display: flex;
    justify-content: space-between;
}

.course-text-content {
    width: 35%;
    font-size: 1rem;
}

.course-text-content.yearly {
    width: 30%;
}

.course-text-content h4,
.session-duration h4 {
    margin: 0;
}



.session-duration {
    width: 20%;
    font-size: 1rem;
}

.session-duration.yearly {
    width: 40%;
}

button.book-now {
    padding: 10px 1.25rem;
    border-radius: 30px;
    background-color: #FCB410;
    font-weight: 600;
    color: #665335;
}

.bottom-footer-text.yearly {
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-between;
}

.bottom-footer-text.yearly h4 {
    margin: 1.25rem 1.25rem 0 1.25rem;
}

.bottom-footer-text p {
    color: #fff;
    text-align: right;
    font-size: 0.75rem;
    margin: 1.25rem 1.25rem 0 1.25rem;
}

.bottom-footer-text p>span {
    text-decoration: underline;
}

.vacant-seat,
.course-price {
    color: #F4C90D;
}

.vacancy-container,
.discount-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.filling-soon {
    width: 7rem;
}

.discount-offer {
    width: 31%;
}

.filling-soon,
.discount-offer {
    font-size: 12px;
    color: blue;
    background-color: white;
    padding: 2px;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.vacancy-header h3,
.duration-header h3 {
    margin-top: 5px;
}

.submit-action {
    display: flex;
    align-items: center;
}

.duration-header h3 span {
    color: #F4C90D;
}

/* Media Queries */

@media all and (max-width:767px) {

    .gradeAndBoards {
        display: block;
    }

    .grade-select {
        width: 100%;
        margin: 1.5rem 0;
    }

    .packages-radio label input {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .packages-radio label {
        grid-template-columns: none;
        grid-template-rows: 1fr repeat(3, 3fr);
        color: #FFFFFF;
        text-align: center;
        font-size: 0.875rem;
        font-weight: 600;
    }

    .top-message {
        width: calc(100% - 50px);
        font-size: 12px;
        padding: 5px;
    }

    .duration-tabs,
    .boards-tabs,
    .boards-tabs-month {
        margin: 0;
    }

    .bottom-controls {
        flex-direction: column;
    }

    .course-text-content,
    .session-duration,
    button.book-now {
        width: 100%;
        margin-bottom: 30px;
    }

    button.book-now {
        margin-bottom: 0;
    }

    ul.duration-select,
    ul.boards-select,
    ul.boards-select-month {
        flex-direction: column;
        text-align: center;
    }


    select.class-select {
        width: 100%;
        font-size: 1.125rem;
        margin: 1.25rem 0;
    }

    .main-content--year {
        display: block;
        list-style: none;
        padding: 0;
    }

    .syllabus-list {
        grid-template-columns: none;
    }

    .course-syllabus h4 {
        font-size: 1.25rem;
    }

    .syllabus-list ul {
        font-size: 1rem;
    }

    .syllabus-list ul li.topic-heading {
        font-size: 1.25rem;
    }

    .main-content-data h3:first-child,
    .main-content-data h3:nth-child(2) {
        font-size: 1.25rem;
    }

    .course-text-content.yearly,
    .session-duration.yearly {
        width: 100%;
        font-size: 0.875rem;
    }

    .bottom-footer-text.yearly {
        flex-direction: column;
    }

    .filling-soon {
        width: 7rem;
    }

    .bottom-footer-text.yearly h4 {
        font-size: 0.85rem;
    }

    .main-content-data {
        padding: 0;
    }

    .boards-tabs{
        padding: 0.625rem 1rem;
    }
    
}

@media all and (min-width:768px) and (max-width:991px) {

    .packages-radio label {
        font-size: 0.75rem;
    }

    .main-content--year {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0
    }

    .grade-select {
        width: 20%;
    }

    .filling-soon {
        width: 7rem;
    }

    .boards-tabs,
    .boards-tabs-month {
        font-size: 0.875rem;

    }

    .main-content-data {
        padding: 0;
    }

    .session-duration {
        width: 25%;
        font-size: 0.75rem;
    }

    .course-text-content {
        width: 45%;
        font-size: 0.75rem;
    }

    .syllabus-list {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }

    li.boards-tabs {
        font-size: 0.563rem;
    }

}

@media all and (min-width:992px) and (max-width:1199px) {

    .main-content--year {
        display: grid;
        justify-content: space-around;
        grid-template-columns: repeat(3, 2fr);
    }

    .grade-select {
        width: 15%;
    }

    .filling-soon {
        width: 7rem
    }

    .main-content-data {
        padding: 0;
    }

    .session-duration {
        width: 25%;
        font-size: 0.875rem
    }

    .course-text-content {
        width: 40%;
        font-size: 0.875rem;
    }

    .course-text-content.yearly {
        width: 35%;
    }
}